.header {
    
    padding: 20px;
    text-align: center; 
    color: rgb(252, 253, 255);
    font-size: 24px;   
    font-weight: bold;
    font-family: Arial, sans-serif; 
}

.body {
    background-color: #f8f7f7;
    padding: 20px;
    font-family: Arial, sans-serif; 
    color: #f8f8fa; 
    line-height: 1.6;
    background-image: url('buisness\(images\)/blackcar.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.bundle-link {
    text-decoration: none;     
    color: #c5c5d3;           
    border: 2px solid #d1d1d8; 
    padding: 6px 12px;         
    border-radius: 8px;        
    display: inline-block;    
}


.bundle-link:hover {
    background-color: #f8f8fa;
    color: #222; 
    cursor: url('buisness(images)/cursor.png'), auto;
    
}



.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    text-decoration: none;
}
.navbar a {
    color: #f8f8fa;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
}

.navbar a:hover {
    background-color: #555;
    color: #f8f8fa;
    cursor: url('buisness(images)/cursor.png'), auto;
    transition: background-color 2.0s ease, color 1.0s ease;

}

.header {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main a:hover {
    background-color: #555;
    color: #f8f8fa;
    cursor: url('buisness(images)/cursor.png'), auto;
    transition: background-color 2.0s ease, color 1.0s ease;
 
}

.footer {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer a:hover {
    background-color: #555;
    color: #f8f8fa;
    cursor: url('buisness(images)/cursor.png'), auto;
    transition: background-color 2.0s ease, color 1.0s ease;

}
.footer a {
    color: #f8f8fa;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #333;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}




